[submodule "Easy-Kitchen-IOS"]
	path = Easy-Kitchen-IOS
	url = https://github.com/KvRae/Easy-Kitchen-IOS
[submodule "Easy-Kitchen-Backend"]
	path = Easy-Kitchen-Backend
	url = https://github.com/KvRae/Easy-Kitchen-Backend
[submodule "Easy-Kitchen-Android"]
	path = Easy-Kitchen-Android
	url = https://github.com/KvRae/Easy-Kitchen-Android
[submodule "Easy-Kitchen-Compose"]
	path = Easy-Kitchen-Compose
	url = https://github.com/KvRae/Easy-Kitchen-Compose
[submodule "Easy-Kitchen-Website"]
	path = Easy-Kitchen-Website
	url = https://github.com/KvRae/Easy-Kitchen-Website
